@model IEnumerable<QuizWebApp.Models.Question>

@{
    ViewData["Title"] = "QUIZ BUILDER";
}

<h2>QUIZ BUILDER</h2>

<p>
    
    <a class="btn btn-warning" role="button" asp-action="Create">Add Question</a>
</p>
<table class="table">
    <thead>
        <tr>
               
                <th>
                    @Html.DisplayNameFor(model => model.Questions)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Level)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Questions)
            </td>
            <td>
                @{
                    string s = Enum.GetName(typeof(QuizWebApp.Enums.Level), item.LevelId);
                }
                @Html.Raw(s)
            </td>
            <td>
                @{
                    string c = Enum.GetName(typeof(QuizWebApp.Enums.Category), item.CategoryId);
                }
                @Html.Raw(c)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
